<!DOCTYPE html>
<html>
<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	  <link rel="stylesheet" type="text/css" href="home_style.css"></a>
	  <script type="text/javascript" src="home.js"></script>
		
		<style>
			ul {
  				list-style-type: none;
  				margin: 0;
  				padding: 0;
				}
			li  {
				display: inline;
			}
		</style>

			
</head>
<body>
	
	<div class="header">
	<h1 align="center">Book Store</h1>
	<ul class="rightalign">
		<li >
			<a id="username" href="" style="font-size: 30px; color: #ddd; padding-right: 25px"> <%=username%> </a>
		</li>
		<li>
			<a href="http://localhost:3000/logout" style="font-size: 20px; color: #ddd">Logout</a>
		</li>
	</ul>
	</div>

	<div class="container-fluid">
  <div class="px-lg-5">


    <div class="row">
      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556294929/matthew-hamilton-351641-unsplash_zmvozs.jpg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">Red paint cup</a></h5>
            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">JPG</span></p>
              <div class="badge badge-danger px-3 rounded-pill font-weight-normal">New</div>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556294927/cody-davis-253928-unsplash_vfcdcl.jpg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">Blorange</a></h5>
            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">PNG</span></p>
              <div class="badge badge-primary px-3 rounded-pill font-weight-normal">Trend</div>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556294928/nicole-honeywill-546848-unsplash_ymprvp.jpg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">And She Realized</a></h5>
            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">JPG</span></p>
              <div class="badge badge-warning px-3 rounded-pill font-weight-normal text-white">Featured</div>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->

      

    </div>
    
  </div>
</div>



	
  <div class="container-fluid">

  <div class="btn-group">
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add book</button>
	<a href="http://localhost:3000/myadds" class="btn btn-primary">My Adds</a>
	<a href="http://localhost:3000/mypurchase" class="btn btn-primary">My purchase</a>
  </div>

  <% let quotient = Math.floor((bookcollection.length)/3); let rem = Math.floor((bookcollection.length)%3) %>  
  

  <% var temp = 0; for(let i=0;i<quotient;i++) { %>

	  <div class="row" style="margin-right: 0px; margin-top: 10px" >
	    <div class="card-deck" style="padding-left: 25px">
		  <% for(let j=0;j<3;j++) { %>		      
	      <div class="card">
	        <img class="card-img-top">
	        <div class="card-block" style="padding-top: 10px; padding-left: 10px ">
	          <h4 class="card-title" align="center"><%=bookcollection[temp].name%></h4>
	          <p class="card-text"><b>Description</b> : <br><%=bookcollection[temp].desc%></p>
	          <p class="card-text"><b>Type</b> : <%=bookcollection[temp].type%></p>
	          <p class="card-text"><b>Price</b> : &#x20b9;<%=bookcollection[temp].price%></p>	          
	          <% if(bookcollection[temp].status == 'available') { %>
	          <div align="center" style="margin-bottom: 8px"><button class="btn btn-primary btn-lg" id="<%=temp%>" onclick="buybook(<%=JSON.stringify(bookcollection[temp]._id)%>,this.id)">Buy</button></div>
	          <% } else if(bookcollection[temp].status == 'sold') { %>
	          <div align="center" style="margin-bottom: 8px"><button class="btn btn-primary btn-lg" id="<%=temp%>" align="center" onclick="buybook(<%=JSON.stringify(bookcollection[temp]._id)%>,this.id)" disabled>Sold</button></div>
	          <% } %>
	        </div>
	      </div>
	      <% temp++;} %>	      	      
	    </div>
	  </div>
	  <br>
  <% } %>

  <div class="row" style="margin-right: 0px">
    <div class="card-deck" style="padding-left: 25px">
	  <% for(let j=0;j<rem;j++) { %>		      
      <div class="card">
        <img class="card-img-top">
        <div class="card-block" style="padding-top: 10px; padding-left: 10px">
          <h4 class="card-title" align="center"><%=bookcollection[temp].name%></h4>
          <p class="card-text"><b>Description</b> : <br><%=bookcollection[temp].desc%></p>
          <p class="card-text"><b>Type</b> : <%=bookcollection[temp].type%></p>
          <p class="card-text"><b>Price</b> : &#x20b9;<%=bookcollection[temp].price%></p>
          <% if(bookcollection[temp].status == 'available') { %>
          <div align="center" style="margin-bottom: 8px"><button class="btn btn-primary btn-lg" id="<%=temp%>" align="center" onclick="buybook(<%=JSON.stringify(bookcollection[temp]._id)%>,this.id)">Buy</button></div>
          <% } else if(bookcollection[temp].status == 'sold') { %>
          <div align="center" style="margin-bottom: 8px"><button class="btn btn-primary btn-lg" id="<%=temp%>" align="center" onclick="buybook(<%=JSON.stringify(bookcollection[temp]._id)%>,this.id)" disabled>Sold</button></div>
          <% } %>
        </div>
      </div>
      <% temp++;} %>	      	      
    </div>
  </div>
  

  
  </div>

  <div id="cover" style="display: none;"><div id="spinner" class="spinner-grow text-light"></div></div>

  <!--Modal-->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" style="width: 65%">
    	<div class="modal-header">
    		<h2>Book Information</h2>
    	</div>

    	<!-- Modal body -->
        <div class="modal-body">
          <form name="addbook" id="addbook" align="center" method="post" action="/addbook">
          	<div class="form-inline">
		      <label for="bookname" style="margin-right:7px">Name :</label>
		      <input type="text" class="form-control" required name="bookname" id="bookname" name="bookname" placeholder="Book Name">
		    </div>
		    <div class="form-inline" style="padding-top: 7px">
		      <label for="bookdesc" style="margin-right:2px">Description :</label>
		      <textarea class="form-control " rows="3" required name="bookdesc" id="bookdesc" placeholder="Please add a description about the book" minlength="50"></textarea>
		    </div>
		    <div class="form-inline" style="padding-top: 10px">
		      <label for="bookprice" style="margin-right: 7px">Price :</label> <br>
		      <input type="number" class="form-control" required name="bookprice" id="bookprice" name="bookprice" placeholder="Price" step=".01">
		    </div>
		    <div class="form-inline" style="padding-top: 10px">
		    	<label for="booktype" style="margin-right:15px">Type :</label>
		    	<input type="radio" required name="booktype" value="new" >New
			    <input type="radio" required name="booktype" value="used" style="margin-left:20px">Used
			</div>	    
		    <button type="submit" class="btn btn-primary" style="margin-top:8px">Submit</button>		
          </form>
        </div>
   	  </div>
   	</div>
  </div> 	 
</body>
</html>